In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv("data/data_big.csv")

In [8]:
df.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
14995,14995,5.0,18.5,4.5,111.403,300.0,300.0,300.0,300.0,300.0,...,1088.32,1084.11,1080.09,1076.04,1072.39,1068.92,1065.63,1062.53,1059.67,1057.09
14996,14996,5.0,19.0,4.5,111.403,300.0,300.0,300.0,300.0,300.0,...,1085.70,1081.37,1077.24,1073.06,1069.30,1065.71,1062.30,1059.07,1056.04,1053.24
14997,14997,5.0,19.5,4.5,111.410,300.0,300.0,300.0,300.0,300.0,...,1083.61,1079.22,1075.02,1070.77,1066.94,1063.29,1059.81,1056.51,1053.39,1050.47
14998,14998,5.5,18.5,4.5,111.418,300.0,300.0,300.0,300.0,300.0,...,1092.27,1088.01,1083.95,1079.84,1076.16,1072.65,1069.33,1066.21,1063.31,1060.69
14999,14999,5.5,19.0,4.5,111.418,300.0,300.0,300.0,300.0,300.0,...,1089.65,1085.27,1081.09,1076.87,1073.06,1069.43,1065.99,1062.73,1059.66,1056.83

#### Big is 20-20-10-800 (intensity is 800) 
#### Small is 10-10-5-800

In [5]:
df_big = pd.read_csv('20-20-10-800/20-20-10-800.csv')

In [6]:
df_small = pd.read_csv('10-10-5-800/10-10-5-800.csv')

In [11]:
df_small.sample(n=5)

,0.5,0,0.5,0.5 .1,0.5 .2,0 .1,0 .2,0 .3,1,1 .1,...,8 .209,8.5 .208,8.5 .209,9 .208,9 .209,9.5 .208,9.5 .209,10 .208,10 .209,
201,1337.010,1268.940,1290.260,1349.280,1348.11,1324.360,1312.690,1323.570,1410.560,1409.450,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,
482,1378.920,1342.350,1354.850,1380.990,1379.89,1366.450,1365.880,1368.660,1413.650,1413.880,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,
889,1339.310,1348.740,1359.800,1303.970,1314.05,1292.960,1328.460,1303.640,1329.760,1340.360,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,
340,1224.890,1265.420,1277.380,1166.800,1182.32,1156.180,1213.710,1171.850,1193.120,1209.320,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,
380,943.525,959.225,964.836,917.793,924.85,912.568,938.138,919.685,930.615,937.885,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,

In [8]:
len(df_small), len(df_small.iloc[0])

(933, 4411)

In [9]:
len(df_big), len(df_big.iloc[0])

(2525, 33621)

In [1]:
from utility import loadDict

In [4]:
dictionary = loadDict('indices_big')

In [6]:
len(dictionary.keys())

15000